<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/minilogo.svg') }}">
</head>
<body>
    <div class='sidebar'>
        <div class="logos">
            <img src="{{ url_for('static', filename='img/minilogo.svg') }}" alt="?" class="minilogo">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" class="logo" alt="?">
        </div>
        
        <ul class="menu">
            {% for i in side_bar_components %}
                {% if side_bar_components[i] == current %}
                    <li class="current">
                        <a>{{ i }}</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="{{ side_bar_components[i] }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
    <div class="content">
        <img src="https://c.tenor.com/qwR44XG-f5kAAAAd/%D1%81%D0%BA%D0%B0%D0%BB%D0%B0.gif" alt="">
    </div>
</body>
</html>